body {
    font-family: 'Roboto', sans-serif;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0,0,0,0.18), 0 3px 6px rgba(0,0,0,0.23);
}

.block {
    padding: 12px;
    margin: 12px;
    background-color: beige;
}

.name {
    padding: 8px;
    margin: 12px;
    background-color: skyblue;
}

.brick {
    padding: 8px;
    margin: 4px;
    display: flex;
}

.brick1 {
    background-color: darkred;
    color: white;
}

.brick2 {
    background-color: brown;
    color: white;
}

.brick3 {
    background-color: #5E0086;
    color: white;
}

.entry {
    padding: 4px;
    margin: 12px;
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
}

.login-form {
    display: flex;
    padding: 16px;
    margin: 12px;
    background-color: brown;
    color: white;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.vertical {
    display: flex;
    flex-direction: row;
    margin: 8px;
    padding: 8px;
    background-color: white;
    color: white;
}

.max {
    flex-grow: 1;
}

.black {
    background-color: black;
    color: white;
    border: 0;
}

.get {
    background-color: black;
    border: 0;
}

.title_block {
    text-align: center;
    font-size: 20px;
}

input[type="submit"] {
    color: white;
    background-color: black;
    border: none;
    font-family: inherit;
    padding: 12px;
}

.book {
    flex-grow: 1;
}

.center {
    margin: auto;
    max-width: 1000px;
    background-color: lightgoldenrodyellow;
}

a {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: brown;
    color: white;
}

tr:nth-child(odd) {
    background-color: dimgrey;
    color: white;
}

th {
    background: white;
    color: black;
}

table { 
    border-collapse: separate;
    border-spacing: 16px;
    margin: auto;
}
            
td, th {
    padding: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

tfoot td {
    background: white;
    color: black;
}